@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src:
    local('Inter'),
    url('/fonts/inter.tif') format('tif');
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0e1823;
}

@utility container {
  @variant 2xl {
    max-width: 1440px;
  }
}

@theme {
  --color-white1: #fbfbfb;
  --color-white2: rgba(251, 251, 251, 0.7);
  --color-white3: rgba(251, 251, 251, 0.35);
  --color-turquoise-blue1: #1b414b;
  --color-turquoise-blue2: #8ea0a5;
  --color-turquoise-blue3: #040306;
  --color-turquoise-blue4: #0e1823;
  --color-gray1: rgb(4, 3, 6);
  --color-gray1bord: rgba(4, 3, 6, 0.1);
  --color-gray2: rgba(251, 251, 251, 0.2);
  --color-gray3: #d4bfc4;
  --color-gray4: rgba(251, 251, 251, 0.5);
}

@utility cont-p-m {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@utility my-input {
  width: 100%;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 18px;
  font-size: 12px;
  line-height: 1.16;
  color: rgba(251, 251, 251, 0.4);
  @media screen and (min-width: 768px) {
    padding: 18px 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
  }
}

.my-input:focus {
  @apply outline-0 border-gray4 text-white1;
}

@utility my-let-spacing1 {
  letter-spacing: -0.03em;
}

@utility my-let-spacing2 {
  letter-spacing: -0.02em;
}

@utility my-let-spacing3 {
  letter-spacing: -0.04em;
}

@utility my-counter {
  counter-reset: my-counter;
}

@utility counter {
  counter-increment: my-counter;
  content: counter(my-counter, decimal-leading-zero);
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #fbfbfb;
  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
}

@utility counter-text {
  padding-top: 18px;
  margin-top: 18px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  opacity: 0.8;
  color: #fbfbfb;
  border-top: 2px solid rgba(251, 251, 251, 0.1);
  @media screen and (min-width: 768px) {
    font-size: 13px;
    line-height: 1.15;
  }
}
